/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 8:36:37 PM
    Author     : Nooshi
*/
/**Body*/
*, *::before, *::after{
    box-sizing: border-box;;
}
body, html{
    background-color: #F2F3F7;
    background-repeat: no-repeat;
    min-width: 320px;
    width: auto !important;
    width: 100%;
    font-family: arial, Helvetica, sans-serif; 
    line-height: 45px;
    direction: ltr;
}
.top-div{
    height: 45px;
    width: 100%;
    background-color: #445268;
}
.top-left-div{
    float: left;
    width: 50%;
    padding-left: 50px;
    text-align: left;
}
.separator{
    color: #F2F3F7;
}

.top-right-div{
    float: right;
    width: 50%;
    padding-right: 50px;
    text-align: right;
}
.top-div a{
    text-decoration: none;
    color: #F2F3F7;
    font-size: 16px;
}
.top-div a:hover{
    text-decoration: underline;
}

div.about-maweed{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
div.left-div{
    width: 100%;
    /*display: flex;*/
    height: 40%;
    font-size: 40px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
   
    color: #013069;
}
div.right-div{
    width: 100%;
    height: 60%;
    font-size: 25px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: left;
    color: white;
    background-color: #55A6D7;
    border-radius: 10px;
}
div.center-text{
    justify-content: center;
    padding: 0 10px;
}
div.about-me{
    clear: both;
    display: flex;
    width: 100%;
    height: 400px;
}
/**div.self-img{
    width: 40%;
    height: inherit;
    float: left;
    margin: auto;
    display: flex;
    background-color: gray;

}**/
/**div.center-img{
    width: auto;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}**/
/**.center-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain !important;
}**/

div.self-info{
    width: 90%; 
    align-items: center;
    margin: 0 auto;
    height: inherit;
    line-height: 40px;
    margin-top: 20px;
}
.self-info h1{
    color: #013069;
    font-size: 50px;
    background-color: inherit;
}
.self-info h2{
    font-size: 25px;
    color: #00cc66;
    text-align: center;
}
.self-info p{
    color: white;
    background-color: #55A6D7;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .header-top{
        width: 100%;
        height: auto;
    }
    .top-left-div{
        width: 35%;
        padding-left: 5px;
    }
    .top-right-div{
        width: 65%;
        padding-right: 5px;
    }
    div.about-maweed{
        clear: both;
        width: 100%;
        height: 700px;
        text-align: center;
        border-top: 2px solid #445268;
    }
    div.left-div{
        width: 100%;
        height: 40%;
        font-size: 35px;
        line-height: 60px;
        text-align: center;
    }
    div.right-div{
        width: 100%;
        height: 60%;
        font-size: 25px;
        padding:  0 10px;
        text-align: left;
        line-height: 30px;
        border-radius: 0px;
    }
    div.center-text{
        justify-content: center;  
        width: 100%;
        height: 100%;
    }
    div.about-me{
        clear: both;
        width: 100%;
        height: 450px;
    }
   /* div.self-img{
        width: 100%;
        height: 60%;
        margin: auto;

    }
    div.center-img{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .center-img img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain !important;
    }*/

    div.self-info{
        width: 100%;
        height: 40%;
        background-color: inherit;
        line-height: 30px;

    }
    .self-info h1{
        color: #013069;
        font-size: 35px;
    }
    .self-info h2{
        font-size: 20px;
    }
    .self-info p{
        font-size: 20px;
        padding: 10px;
        border-radius: 0px;
    }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 599px) {

    .header-top{
        width: 100%;
        height: auto;
    }


    div.about-maweed{
        clear: both;
        width: 100%;
        height: 600px;
        text-align: center;
        border-top: 2px solid #445268;
    }
    div.left-div{
        width: 100%;
        height: 40%;
        font-size: 35px;
        line-height: 60px;
        text-align: center;
    }
    div.right-div{
        width: 100%;
        height: 60%;
        font-size: 25px;
        padding:  0 30px;
        text-align: left;
        line-height: 30px;
        border-radius: 0px;
    }
    div.center-text{  
        width: 100%;
        height: 100%;
    }
    div.about-me{
        clear: both;
        width: 100%;
        height: 400px;
    }
   /** div.self-img{
        width: 100%;
        height: 60%;
        margin: auto;
        display: flex;

    }
    div.center-img{
        width: 100%;
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .center-img img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain !important;
    }**/

    div.self-info{
        width: 100%;
        height: 40%;
        background-color: inherit;
        line-height: 30px;

    }
    .self-info h1{
        color: #013069;
        font-size: 35px;
    }
    .self-info h2{
        font-size: 20px;
        color: #00cc66;
    }
    .self-info p{
        font-size: 20px;
        border-radius: 0px;
        padding: 10px;
    }
}




/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 600px) and (max-width: 1200px){

    .header-top{
        width: 100%;
        height: auto;
    }
    div.logo{
        float:right;
        width: 80%;
        height: inherit;
        text-align: right;
    }
    .logo img{
        /*margin: 0px 40px;*/
        width: 220px; 
        height: 69px;
        vertical-align: middle;
        margin-top: 10px;
        margin-right: 20px;
    }

    div.about-maweed{
        clear: both;
        width: 100%;
        height: 450px;
        /*display: inline-block;*/
        display: block;
        text-align: center;
        border-top: 2px solid #445268;
    }
    div.left-div{
        /*display: inline-block;*/
        width: 100%;
        height: 40%;
        padding: 10px;
        color: #013069;
        /*display: flex;*/
        font-size: 30px;
        line-height: 60px;
        text-align: center;
    }
    div.right-div{
        /*display: inline-block;*/
        width: 100%;
        height: 60%;
        color: white;
        font-size: 25px;
        padding:  0 10px;
        text-align: left;
        /*display: flex;*/
        align-items: center;
        line-height: 30px;
        background-color: #55A6D7;
        border-radius: 0px;
    }
    div.center-text{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    div.about-me{
        clear: both;
        display: inline-block;
        width: 100%;
        height: 350px;
        /*padding: 0 20px;*/
    }
    /**div.self-img{
        width: 40%;
        height: 100%;
        margin: auto;
        display: flex;
    }
    div.center-img{
        width: 100%;
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .center-img img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain !important;
    }**/

    div.self-info{
        width: 100%;
        align-items: center;
        height: 100%;
        background-color: inherit;
        line-height: 30px;

    }
    div.center-text{
        height: auto;
    }
    .self-info h1{
        color: #013069;
        font-size: 35px;
    }
    .self-info h2{
        font-size: 20px;
        text-align: center;
        color: #00cc66;
    }
    .self-info p{
        color: white;
        font-size: 20px;
        background-color: #55A6D7;
        border-radius: 0px;
        padding: 10px;
    }
}

