/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2019, 6:27:48 PM
    Author     : Nooshi
*/
/**Body*/
*, *::before, *::after{
    box-sizing: border-box;;
}

div.logo{
    width: 100%;  
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


h2{
    clear: both;
    margin: 0 auto;
    text-align: center;
    color: #445268;
    margin-bottom: 5px;
    margin-top: 5px;
}

/**------------------- search area------------------**/
.search-area{
    clear: both;
    width: 100%;
    position: relative;
    height: 60px;
    margin-bottom: 10px;
}
.hidden-link{
    display: none;
}

div.center-search1{
    height: inherit;
    width: fit-content;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.form-style1{
    margin: 0 auto;
    text-align: center;
}
.form-style1 > input, command, select, link, button{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
/*----------Select menu--------------*/
.select-menu1{
    text-indent: 0.01px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #445268;
}
.select-menu2{
    text-indent: 0.01px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #445268;
}

.hidden-link1 {
    display: inline-block;
    margin:  auto;
    position: relative;
    padding: 0 10px;
    height: inherit;
    margin-left: 2px;
    font-size: 18px;
    text-decoration: none;
    background-color: #55A6D7;
    color: white;
}
.hidden-link1:hover{
    color: #445268;
    text-decoration: underline;
}

/*--------main div----------*/
div.main_div{
    clear: both;
    display: block;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 10px;
}
div.result{
    display: inline-block;
    width: 100%;
}
h3{
    padding-left: 10px;
    color: #445268;
}
.cat-name{
    color: #55A6D7; 
    text-align: center;
}

.clnk-name{
    display: block;
    text-decoration: none;
    color: #55A6D7;
    font-size: 14px;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.clnk-location{
    display: block;
    color: #013069;
    font-size: 12px;
}
.clnk-star-rating{
    display: block;
    color: orange;
    font-size: 12px;
}
.clnk-div{
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #e8eaf2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    line-height: 20px;
    width: 150px;
    height: auto;
}
.clnk-div a{
    text-decoration: none;
}

.clnk-div img{
    width: 130px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}

.clnk-div:hover .clnk-name{
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    div.logo{
        width: 40%;
    }
    .main_div{
        border-top: 1px solid #445268;
    }
}