/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2018, 1:41:06 PM
    Author     : Nooshi
*/
div.service-pic{
    width: 100%;
    height: auto;
}
.service-pic ul{
    margin-right: 2px;
    margin-left: 2px;
}

.service-pic ul li{
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #D7D0CC;
}
/**Doctor div*/
.doctor-pic{
    margin-bottom: 15px;  
}
.doctor-pic ul li{
    height: auto;
    display:inline-block;
    padding: 8px;
    margin: 0 2px;
    font-size: 15px;
    line-height: 25px;
    overflow-wrap: break-word;
}
div.doctor-info{
    max-width: 120px;
}
.doctor-info:hover{
     box-shadow: 3px 3px 5px #50A2C9;
}
.doctor-pic ul li img{
    max-width: 110px;
    height: 110px;
    border-radius: 5px;
    vertical-align: middle;   
}


/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){
   
}
