/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2018, 11:41:25 AM
    Author     : Nooshi
*/
/**----------------Hamburger menu and button-------------------**/

.container {
    display: none;
    padding: 25px 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #55A6D7;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.container{
    display: none;
}
.menu{
    display: none;
}


/**----------------Hamburger menu and button end-------------------**/

.clinic-name{
    background-color: inherit;
    color: #00cc99;
}
div.item{
    margin-bottom: 15px;
    color: #64d86b;
    font-size: 28px;
}

div.hidden-div{
    display: none;
}

div.clnk-container{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FCFCFC;
    padding: 10px;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.clnk-widget{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 5px;
    border-right: 1px solid rgba(50, 50, 50, 0.1);
}
.right-border{
    border-right: none;
}

.icon-box{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
}
.icon{
    height: 100%;
    padding: 10px;
    float:left;
}

.clnk-info {
    float: right;
    line-height: 17px;
    color: black;
    width: available;
    font-size: 15px;
    text-align: left;
    padding: 0px 10px;
}
.appoinment-btn{
    height: 120px;
}
.appoinment-btn input[type='submit']{
    width: auto;
    height: 60px;
    background-color: #00cc99;
    border: none;
    color: #000000;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;

}
/*-------Clinics Div------*/
.clinic{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    
}
.clinic-item {
    display: inline-block;
    box-sizing: border-box;
    /*margin : 0 2px;*/
    padding: 8px 0px;
    text-align: center;
    width: 122px;
    border: 2px solid #bde0f5;
    border-radius: 3px;
    line-height: normal;
}

.clinic-item a{
    text-decoration: none;
    color: #013069; 
    font-size: 15px;
    font-weight: bold;
    
}
.clinic-item:hover {
    background-color: #bde0f5;
}


/*
.clinic-pic ul li a{
    text-decoration: none;
    text-align: center;
}

.clinic-pic ul li{
    height: auto;
    width: 125px;
    display:inline-block;
    padding: 5px;
    margin: 0 2px;
    font-size: 15px;
    line-height: normal;
    border: 1px solid #55A6D7;
    border-radius: 3px;
}
.clinic-pic ul li img{
    vertical-align: middle;
    border-radius: 10px;
}
.clinic-pic ul li span{
    color: #445268;
}
.clinic-pic ul li a:hover span{
    color: #55A6D7;
    text-decoration: underline;
}*/

/**Map*/
#map{
    width:100%;
    height:400px;
    background:yellow;
}
/**Doctor div*/
.doctor-pic{
    margin-bottom: 15px;
}
.doctor-pic ul li{
    height: auto;
    display:inline-block;
    padding: 8px;
    margin: 0 8px;
    font-size: 17px;
    line-height: 30px;
}
.doctor-pic ul li img{
    width: 110px;
    height: 110px;
    border-radius: 5px;
    vertical-align: middle;
}

/**Insurance div*/
.insurance{
    margin-bottom: 10px;
    height: auto;
}
.insurance ul li{
    display: inline-block;
    padding-left: 2px ;
    padding-right: 2px;
}
/**Insurance Images*/
.insurance ul li img{
    max-width: 100px ;
    height: 40px ;
}

/*******************Star rating *****************************/


/*********************Star rating end*****************/        



/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .header-top{
        width: 100%;
        height: 85px;
        margin-bottom: 1px;
    }
    /**Hamburger icon div*/
    div.menu-icon{
        display: flex;
        float: left;
        width: 20%;
        height: inherit;
    }
    /**Hamburger icon*/
    .menu-icon{
        justify-content: center;
        align-items: center;
    }
    /**div of Logo*/
    div.logo{
        float: right;
        display: flex;
        justify-content: flex-end;
        width: 80%;
        height: inherit;
        text-align: center;

    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }


    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        margin-right: 3px;
    }
    .form-style input[type='text']{
        width: 180px;
        border: 1px solid gray;
        font-size: 14px;
    }
    .select-style{
        width: 80px;
        margin-right: 1px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }

    .navbar{
        display: none;
    }
    div.item{
        display: none;
    }
    div.hidden-div{
        display: block;
    }


    div.clnk-container{
        display: block;
        height: auto;
        border-top: 1px solid rgba(50, 50, 50, 0.1);

        opacity: 1;
    }

    .clnk-widget{
        display:inline-block;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        border-right: none;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        height: 75px;
        width: 10%;
        float:left;
    }
    .icon img{
        text-align: center;
    }

    .clnk-info {
        display: inline-block;
        float: left;
        line-height: 10px;
        padding-bottom: 12px;
        color: black;
        width: 80%;
        height: 75px;
        font-size: 17px;
        text-align: left;
    }
    .clnk-info span{
        color: #717171;
    }
    div.appoinment-btn{
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .appoinment-btn input[type='submit']{
        width: 300px;
        height: 50px;
        border: 2px solid #00cc99;
        color: #000000;
    }
    div.clinic-pic{
        display: flex;
        justify-content: flex-start;
    }

}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 599px){
    .header-top{
        width: 100%;
        height: 85px;
        margin-bottom: 1px;
    }
    /**Hamburger icon div*/
    div.menu-icon{
        display: flex;
        float: left;
        width: 20%;
        height: inherit;
    }
    /**Hamburger icon*/
    .menu-icon{
        justify-content: center;
        align-items: center;
    }
    /**div of Logo*/
    div.logo{
        float: right;
        display: flex;
        justify-content: flex-end;
        width: 80%;
        height: inherit;
        text-align: center;

    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }
    div.search-box{
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        margin: auto;
    }
    div.center-search{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 10px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
        background-color: #445268;
    }

    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        width: 100%;

    }
    .form-style input[type='text']{
        width: 220px;
        border: 1px solid gray;
        font-size: 16px;
    }
    .form-style input[type='submit']{
        width: 70px;
        border: 2px solid #00cc99;
        color: #000000;
    }
    .select-style{
        width: 75px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }

    .navbar{
        display: none;
    }
    div.item{
        display: none;
    }
    div.hidden-div{
        display: block;
    }


    div.clnk-container{
        display: block;
        height: auto;
        border-top: 1px solid rgba(50, 50, 50, 0.1);

        opacity: 1;
    }

    .clnk-widget{
        display:inline-block;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        border-right: none;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        height: 75px;
        width: 10%;
        float:left;
    }
    .icon img{
        text-align: center;
    }

    .clnk-info {
        display: inline-block;
        float: left;
        line-height: 10px;
        padding-bottom: 12px;
        color: black;
        width: 80%;
        height: 75px;
        font-size: 17px;
        text-align: left;
    }
    .clnk-info span{
        color: #717171;
    }
    div.appoinment-btn{
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .appoinment-btn input[type='submit']{
        width: 400px;
        height: 50px;
        border: 2px solid #00cc99;
        color: #000000;

    }
    div.clinic-pic{
        display: flex;
        justify-content: flex-start;
    }

}



/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 600px) and (max-width: 1200px){

    div.logo-header{
        height: 90px;
    }
    /**Hamburger icon div*/
    div.menu-icon{
        display: flex;
        float: left;
        width: 20%;
        height: inherit;
    }
    /**Hamburger icon*/
    .menu-icon{
        justify-content: center;
        align-items: center;
    }
    /**div of Logo*/
    div.logo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        float: right;
        width: 80%;
        height: inherit;
    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
        margin-bottom: 12px;
    }

    div.search-box{
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        margin: auto;
        background-color: #445268;
    }
    div.center-search{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 10px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
    }
    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
    }
    .form-style input[type='text']{
        width: 280px;
        border: 1px solid gray;
        font-size: 16px;
    }
    .form-style input[type='submit']{
        width: 70px;
        border: 2px solid #00cc99;
        color: #000000;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }
    .navbar{
        display: none;
    }
    div.item{
        display: none;
    }
    div.hidden-div{
        display: block;
    }

    div.clnk-container{
        display: block;
        height: auto;
        border-top: 1px solid rgba(50, 50, 50, 0.1);

        opacity: 1;
    }

    .clnk-widget{
        display:inline-block;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        border-right: none;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        height: 75px;
        width: 10%;
        float:left;
    }
    .icon img{
        text-align: center;
    }

    .clnk-info {
        display: inline-block;
        float: left;
        line-height: 10px;
        padding-bottom: 12px;
        color: black;
        width: 80%;
        height: 75px;
        font-size: 17px;
        text-align: left;
    }
    .clnk-info span{
        color: #717171;
    }
    div.appoinment-btn{
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .appoinment-btn input[type='submit']{
        width: 500px;
        height: 50px;
        border: 2px solid #00cc99;
        color: #000000;

    }
}



