/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 12:55:14 PM
    Author     : Nooshi
*/
/**Body*/
div.logo{
    width: 100%;
}
.center-logo{
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}
.contact_main{
    clear: both;
    width: 95%;
    height: 570px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.head{
    display: inline-block ;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    margin: 0 auto;
    vertical-align: middle;
    width: 50%;
}
.head2{
    width: 30%;
    height: 570px;
    display: inline-block ;
    line-height: 25px;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    border-left: 2px solid #ccc; 
}
.head2 *{
    color: #445268;
}

.head2 p{
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    margin-bottom: 15px;
}

.heading_div{ 
    display: inline-block;  
    height: inherit;
    width: auto;
    line-height: 30px;
}
h2{
    font-size: 30px;
    color: #445268;
}

h3{
    font-size: 20px;
    color: #445268;
}
h4{
    margin-top: 10px;
    margin-bottom: 0px;
}


.contact_form {
    height: inherit;
    display: inline-block;
    text-align: left;
    padding: 10px;
    
}

.contact_form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}

.contact_form label{
    color: #445268;
}

.contact_button{
    width: 20px;
    height: inherit;
    padding: 12px;
    text-decoration: none;
    background-color: #55A6D7;
    border-radius: 5px;
    color: white;
    margin: 8px;
}
.cancle_button{
    background-color: #00cc66;
}

/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){

    .contact_main{
        height: 950px;
    }
    .head{
        clear: both;
        width: 90%;
        margin-bottom: 20px;
    }
    .head2{
        width: 95%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-left: none;
        border-top: 2px solid #ccc;
    }
    h2{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
    }
}
@media screen and (min-width: 481px) and (max-width: 599px) {
    .head{
        clear: both;
        width: 90%;
    }

}

/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 600px) and (max-width: 1000px){

    .contact_main{
        height: 950px;
        margin-bottom: 15px;
    }
    .head{
        clear: both;
        width: 60%;
        display: block;
        margin-bottom: 20px;
    }
    .head2{
        width: 95%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-left: none;
        border-top: 2px solid #ccc;
    }
}