/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2018, 12:29:48 PM
    Author     : Nooshi
*/
/**Body*/
*, *::before, *::after{
    box-sizing: border-box;;
}
body, html{
    /**background-color: #F2F3F7;**/
    background-color: #f2f3f7;
    min-width: 320px;
    width: auto !important;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial, Helvetica, sans-serif; 
    line-height: 40px;
    direction: ltr;
}
/**----------------Hamburger menu and button-------------------**/

.container {
    display: none;
    padding: 25px 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #55A6D7;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.container{
    display: none;
}
.menu{
    display: none;
}


/**----------------Hamburger menu and button end-------------------**/
.top-div2{
    display: none;
}
#hide2{
    display: none;
}
.top-div{
    height: 50px;
    width: 100%;
    background-color: #F2F3F7;
    font-size: 15px;
    padding: 5px 0px;
}

.left-div{
    float: left;
    width: 70%;
    padding-left: 50px;
    text-align: left;
}
.separator{
    color: #445268;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.right-div{
    float: right;
    width: 30%;
    height: 50px;
    padding-right: 50px;
    text-align: right;
}
.top-div a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    vertical-align: middle;
    opacity: 0.8;
}
.top-div a:hover{
    opacity: 1;
}
.offers{ 
    background-color: #00cc66;
    color: #fafafa;
    padding: 10px;
}

.lang{
    padding: 10px;
}
.lang:hover{
    background-color: #bde0f5;
}


/*---------Tool Tip--------------------*/
.tooltip a:hover{
    color: #55A6D7;
    text-decoration: none;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #55A6D7;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0.8;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #55A6D7 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.log_out{
    background: none;
    border: 1px solid #F2F3F7;
    color: #F2F3F7;
}
.log_out:hover{
    color: white;
    border: 1px solid #cc0033;
    background-color: #cc0033;
}

/******************header div***************************/
.header-top{
    width: 100%;
    height: 150px;
    background-color: #fff;
    clear: both;
    box-shadow: 0 0 10px 2px #55A6D7;
}

/**logo image**/
div.logo{
    float: left;
    width: 30%;
    height: inherit;
    padding: 20px;
    display: block;
}
.center-logo{
    padding: 20px;
    display: block;
    vertical-align: middle;
}
.logo img{
    width: 220px; 
    height: 69px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}


/**------------------- search area------------------**/
.search-area{
    float: right;
    width: 70%;
    height: inherit;
    text-align: center;
    padding: 20px;
    display: block;
}
.hidden-link{
    display: none;
}
.form-style{
    overflow: hidden;
    float: right;
}
div.center-search{
    height: 110px;
    display: inline-block; 
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form-style input{
    border: 1px solid #55A6D7;
    outline: 0;
    box-shadow: none;
    font-size: 17px;
    color: #445268;
    height: 70px;
    width: 230px;
    margin-right: 0px;
    padding-left: 5px;
}


.select-menu1{
    text-indent: 0.01px;
    border: 1px solid #55A6D7;
    width: 200px;
    height: 70px !important;
    font-size: 17px;
    outline: 0;
    color: #445268;
}


.form-style > input, command, select, link, button, .hidden-link1{
    display: inline-block;
    vertical-align: middle;
}
/*----------Search Button--------------*/
.hidden-link1 {
    display: inline-block;
    margin:  auto;
    position: relative;
    margin-left: 2px;
    line-height: 70px;
    width: 100px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    background-color: #55A6D7;
    color: white;
    border-radius: 0 5px 5px 0 ;
    opacity: 1;
}
.hidden-link1:hover{
    text-decoration: none;
    opacity: 0.8;
}

/********** motivation div ***********/
.motivation{
    clear: both;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.motivation h1{
    color: #445268;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: inherit;
}
.motivation span{
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}


/*************************************Slide Show***************************************/
#ads_main{
    clear: both;
    width: 100%; 
    height: 500px;
    display: inline-block; 
    margin: 0 auto;
    text-align: center;
}

.slides_container{
    clear: both;
    max-width: 800px;
    height: 500px !important;
    border: 1px solid #cccccc;
    background-color: inherit;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    object-fit: cover;
    object-position: center;
    overflow: hidden; 
}
.mySlides {
    display: none;
    min-height: 500px !important;
    max-height: 100%;
    max-width: 100%;
    background-color: inherit;
}

.indecator_container{
    cursor:pointer;
    width: 100%;
    position: absolute;
    bottom:0;
}

.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.arrow_style{
    color: white;
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}
.indecator{
    display: inline-block;
    border: 1px solid white;
    height: 15px;
    width: 15px;
    border-radius: 30px;
}

.indecator:hover{
    background-color: white;
}
 /*---------------------- Extra Advertisment------------------------------*/
 .pics_main{
     width: 100%;
     height: auto;
 }
 .right_top_adv{
     width: 250px;
     height: 120px;
     margin: 0 auto;
     text-align: center;
 }
 .right_top_adv img{
     width: 100%;
     height: 100%;
     border: 1px solid #cccccc;
     
 }


/**-------------------Headers Catigories----------------------------**/
h1{
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    background-color: #55A6D7;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cat{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;

}

.cat-item {
    display: inline-block;
    box-sizing: border-box;
    /*margin : 0 2px;*/
    padding: 8px 0px;
    margin: 2px;
    text-align: center;
    width: 130px;
    border: 2px solid #bde0f5;
    border-radius: 3px;
    line-height: normal;
}

.cat-item a{
    text-decoration: none;
    color: #013069; 
    font-size: 15px;

}
.cat-item:hover {
    background-color: #bde0f5;
}
/*------------------ pagination ------------------------------*/
.pagination {
    width: 100%;
    margin-top: 15px;
  display: inline-block;
}

.pagination a {
  color: #445268;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
.pagination a.active {
  background-color: #bde0f5;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:hover{
    color: #55A6D7;
    text-decoration: underline;
}


/**--------------------------footer-----------------------**/
footer{
    clear: both;
    width: 100%;
    height: 150px;
    background-color: #445268;
    font-size: 18px;
    color: #e9eaea;
}
.upper-footer{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #F2F3F7;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.upper-footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.upper-footer a:hover{
    text-decoration: underline;
}
.lower-footer{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 1px;
}
div.lower-footer h2{
    background-color: inherit;
}
.lower-footer h6{
    font-size: 12px;
}


/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    #hide{
        display: none;
    }
    #hide2{
        display: block;
    }
    .top-div{
        display: none;
    }

    .top-div2{
        display: block;
        height: 50px;
        width: 100%;
        background-color: inherit;
        font-size: 15px;
        padding: 5px 0px;
        z-index: 99;
    }
    .top-div2 a{
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        vertical-align: middle;
        opacity: 0.8;
    }

    .top-div2 a:hover{
        opacity: 1;
    }
    .offers a{
        color: #ffffff;
    }

    .header-top{
        clear: both;
        width: 100%;
        height: 90px;
        margin-bottom: 8px;
        box-shadow: 0 0 10px 2px #55A6D7;
    }

    .left-div{
        padding-left: 5px;
    }

    .right-div{
        padding-right: 5px;
        height: inherit;
    }
    div.container {  
        background-color: inherit;
        width: 20%;
        float: left;
        height: 100%;
        display:block;
        cursor: pointer;
    }

    nav.menu{
        width: 50%;
    }
    .item_menu {
        clear: both;
        background-color: #fff;
        text-align: center;
        font-size: 18px;
        width:100%;
        height: auto;
        text-decoration: none;
        color: #445268;
        padding: 2px;
        display: block;
        border-bottom: 1px solid gray;
    }
    .item_menu:hover{
        background-color: #55A6D7;
        color: white;
    }

    /**div of Logo*/
    div.logo{
        float: right;
        display: block;
        padding: 10px;
        width: 80%;
        height: inherit;
        text-align: center; 
        vertical-align: middle;
    }
    .center-logo{
        padding: 0px;
    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }
    div.search-area{
        width: 100%;
        height: auto;
        padding: 3px;
        margin-bottom: 10px;
    }

    div.search-box{
        clear: both;
        width: 100%;
        height: inherit;
        margin: auto;
    }
    div.center-search{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
        padding: 3px;
    }

    .form-style{
        margin: 0 auto;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .form-style input[type='text']{
        width: 95%;
        border: 1px solid #55A6D7;
        font-size: 18px;
        margin-bottom: 5px;
        padding-left: 8px;
    }

    .select-menu1{
        width: 95%;
        margin-bottom: 5px;
    }
    .hidden-link1{
        width: 95%;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
    }
    .motivation h1{
        font-size: 30px;
        font-weight: normal;
    }
    .search-icon{
        padding: 3px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }
    .navbar{
        display: none;
    }
    .motivation{
        margin-bottom: 10px;
    }
    /*******************slide show*****************************/

    .slides_container{
        clear: both;
        max-width:100%;
        height: 220px !important;
        border: 1px solid #cccccc;
        background-color: inherit;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
        position: relative;
        margin-top: 10px;
    }
    .mySlides {
        min-height: 220px !important;
    }
    .right_top_adv{
        width: 180px;
        height: auto;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 699px) {

    .top-div{
        display: none;
    }
    #hide{
        display: none;
    }
    #hide2{
        display: block;
    }
    .sticky {
        position: fixed;
        top: 0;
    } 

    .top-div2{
        display: block;
        height: 50px;
        width: 100%;
        background-color: #ffffff;
        font-size: 15px;
        /*box-shadow: 0 0 5px 5px #ccc;*/
        padding: 5px 0px;
        z-index: 99;
    }
    .top-div2 a{
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        vertical-align: middle;
        opacity: 0.8;
    }

    .top-div2 a:hover{
        opacity: 1;
    }
    .offers a{
        color: #ffffff;
    }

    .header-top{
        clear: both;
        width: 100%;
        height: 90px;
        margin-bottom: 1px;
        margin-top: 50px;
        box-shadow: 0 0 10px 2px #55A6D7;
    }

    .left-div{
        padding-left: 5px;
    }

    .right-div{
        padding-right: 5px;
        height: inherit;
    }
    div.container {  
        background-color: inherit;
        width: 20%;
        float: left;
        height: 100%;
        display:block;
        cursor: pointer;
    }

    nav.menu{
        width: 50%;
    }
    .item_menu {
        clear: both;
        background-color: #ffffff;
        text-align: center;
        font-size: 18px;
        width:100%;
        height: auto;
        text-decoration: none;
        color: #013069;
        padding: 2px;
        display: block;
        border-bottom: 1px solid gray;
    }
    .item_menu:hover{
        background-color: #55A6D7;
        color: white;
    }

    /**div of Logo*/
    div.logo{
        float: right;
        display: block;
        padding: 10px;
        width: 80%;
        height: inherit;
        text-align: center; 
        vertical-align: middle;
    }
    .center-logo{
        padding: 0px;
    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }
    div.search-area{
        width: 100%;
        height: 320px;
        padding: 3px;
    }

    div.search-box{
        clear: both;
        width: 100%;
        height: inherit;
        margin: auto;
    }
    div.center-search{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
        padding: 3px;
    }

    .form-style{
        margin: 0 auto;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .form-style input[type='text']{
        width: 95%; 
        font-size: 18px;
        margin-bottom: 5px;
        padding-left: 8px;
    }
    .select-style{
        width: 95%;   
    }
    /*.form-style > input, command, select, link, button, .hidden-link1{
    display: inline-block;
    vertical-align: middle;
}*/
    .select-menu1{
        width: 95%;
        margin-bottom: 5px;
    }
    .hidden-link1{
        width: 95%;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
    }
    .motivation h1{
        font-size: 30px;
        font-weight: normal;
    }
    .search-icon{
        padding: 3px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }
    .motivation{
        margin-bottom: 10px;
    }
    /*******************slide show*****************************/

    .slides_container{
        clear: both;
        max-width:100%;
        height: 220px !important;
        border: 1px solid #cccccc;
        background-color: inherit;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
        position: relative;

    }
    .mySlides {
        min-height: 220px !important;
    }
}




/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 700px) and (max-width: 1200px){
    #hide{
        display: none;
    }
    #hide2{
        display: block;
    }
    .top-div{
        display: none;
    }

    .top-div2{
        display: block;
        height: 50px;
        width: 100%;
        background-color: inherit;
        font-size: 15px;
        padding: 5px 0px;
        z-index: 99;
    }
    .top-div2 a{
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        vertical-align: middle;
        opacity: 0.8;
    }

    .top-div2 a:hover{
        opacity: 1;
    }
    .offers a{
        color: #ffffff;
    }

    .header-top{
        clear: both;
        width: 100%;
        height: 90px;
        margin-bottom: 15px;
        box-shadow: 0 0 10px 2px #55A6D7;
    }

    .left-div{
        padding-left: 5px;
    }

    .right-div{
        padding-right: 5px;
        height: inherit;
    }
    div.container {  
        background-color: inherit;
        width: 20%;
        float: left;
        height: 100%;
        display:block;
        cursor: pointer;
    }

    nav.menu{
        width: 50%;
    }
    .item_menu {
        clear: both;
        text-align: center;
        background-color: #ffffff;
        font-size: 18px;
        width:100%;
        height: auto;
        text-decoration: none;
        color: #013069;
        padding: 2px;
        display: block;
        border-bottom: 1px solid #445268;
    }
    .item_menu:hover{
        background-color: #55A6D7;
        color: white;
    }

    /**div of Logo*/
    div.logo{
        float: right;
        display: block;
        padding: 10px;
        width: 80%;
        height: inherit;
        text-align: center; 
        vertical-align: middle;
    }
    .center-logo{
        padding: 0px;
    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }
    div.search-area{
        width: 100%;
        height: auto;
        padding: 3px;
    }

    div.search-box{
        clear: both;
        width: 100%;
        height: inherit;
        margin: auto;
    }
    div.center-search{
        width: 100%;
        height: 130px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
        padding: 3px;
    }

    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        /*margin-right: 3px;*/
    }
    .form-style input[type='text']{
        width: 230px;
        font-size: 16px;
        margin-bottom: 5px;
        padding-left: 8px;
    }
    .select-style{
        width: 180px;   
    }
    .form-style > input, command, select, link, button, .hidden-link1{
    display: inline-block;
    vertical-align: middle;
}
    .select-menu1{
        width: 180px;
        margin-bottom: 5px;
    }
    .hidden-link{
        display: none;
    }
    .hidden-link1{
        border-radius: 5px;
        width: 80px;
    }
    .motivation h1{
        font-size: 30px;
        font-weight: normal;
    }
    .search-icon{
        padding: 3px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }
    .navbar{
        display: none;
    }
    .motivation{
        margin-bottom: 10px;
    }
    /*******************slide show*****************************/

    .slides_container{
        clear: both;
        max-width:100%;
        height: 400px !important;
        border: 1px solid #cccccc;
        background-color: inherit;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
        position: relative;

    }
    .mySlides {
        min-height: 220px !important;
    }
}

