/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2019, 5:16:30 PM
    Author     : Nooshi
*/
.header_div{
    clear: both;
    line-height: 10px;
    padding: 10px;
    margin:5px;
    color: #445268;
}
.header_div h5{
    font-weight: normal;
}
.ar h5{
    font-weight: bold;
}
div.main_div{
    clear: both;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}
div.result{
    display: inline-block;
    width: 100%;
    padding:  0px 10px;
    margin: 0 auto;
    text-align: center;
}

.offer-div{
    width: 300px;
    height: 370px;
    display: inline-block;
    vertical-align: middle;
    /*border: 1px solid #cccccc;*/
    background-color: #FFFFFF;
    /*background-color: #e8eaf2;*/
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    line-height: 25px;
    position: relative;
}


.offer-div a{
    text-decoration: none;
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;   /*ribbon width*/
  background-color: #3498db; /*ribbon background color*/
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
.img-div{
    width: 290px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.img-div img{
    width: 280px;
    height: 150px;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}


.offer-div:hover #service{
    text-decoration: underline;
}
#service{
    font-size: 17px;
}

.hospital-name{
    display: block;
    color: #013069;
    font-size: 15px;
    
}
.clnk-name{
    display: block;
    text-decoration: none;
    color: #55A6D7;
    font-size: 15px;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.offer-price{
    display: block;
    color: #884400;
    font-weight: bold;
}
.offer-countdown{
    font-size: 12px;
    color: #000000;
}