/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2018, 10:46:48 PM
    Author     : Nooshi
*/

div.logo{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.head{
    clear: both;
    display: block ;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    line-height: 40px;
    margin-bottom: 70px;
}
.head h2{
    font-size:35px;
    color: #013069;
    line-height: 30px;
}
.heading{
    font-size: 22px;
    font-weight: bold;
    text-align: center;

}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/*------registraton form----------*/
.reg_form {
    height: inherit;
    width: fit-content;
    display: inline-block;
    text-align: right;
    border: 1px solid #013069;
    border-radius: 5px;
    padding: 10px;
    line-height: 40px;
}

.reg_form input[type=text], input[type=password] {
    height: 50px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
    float: right;
}
.reg_form input:hover{
    border: 1.5px solid #55A6D7;
}
.reg_form input:focus{
    box-shadow: 3px 3px 5px #55A6D7;
}

.fix{
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    color: #013069;
}
.lnk{
    font-size: 14px;
    text-decoration: none;
    color: #55A6D7;
}
.lnk:hover{
    text-decoration: underline;
    color: #cc0033;
}
.app_button{
    height: inherit;
    padding: 12px 60px;
    text-decoration: none;
    background-color: #55A6D7;
    border-radius: 5px;
    color: white;
    margin: 8px;
}
.app_button:hover{
    background-color: #285e8e;
    color: white;
}
.cancle_button{
    background-color: #00cc66;
}
.cancle_button:hover{
    background-color: #009966;
    color: white;
}
.logout_button{
    background-color: #cc3300;
}
.logout_button:hover{
    background-color: #f53300;
    color: white;
}
.cntr_btn{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

div.line{
    width: auto;
    line-height: 20px;
}
.line a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #55A6D7;
}
.line a:hover{
    text-decoration: underline;
}


/**---------------------User Profile page style------------------*/
.right-div h3{
    color: #F2F3F7;
    font-size: 16px;
    margin: 0 auto;
    vertical-align: middle;
}
.profile_div{
    clear: both;
    display: block ;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    line-height: 30px;
    margin-bottom: 10px;
}

.profile {
    height: inherit;
    width: fit-content;
    display: inline-block;
    text-align: right;
    border: 1px solid #013069;
    border-radius: 5px;
    padding: 5px;
    line-height: 35px;
}
.profile input[type=text], input[type=password] {
    width: 300px;
    height: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2px;
    resize: vertical;
    font-size: 14px;
    float: right;
    text-align: right;
}
.contact_form input[type="radio"]{
    float: right;
    margin: 0 5px 0 5px;
}
.profile input:hover{
    border: 1.5px solid #55A6D7;
}
.profile input:focus{
    box-shadow: 3px 3px 5px #55A6D7;
}

/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){

    div.logo{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .head{
        clear: both;
        width: 100%;
    }
    .reg_form{
        width: inherit;
        border: none;
    }
    .reg_form output{
        font-size: 14px;
    }

    .profile_div{
        width: 100%;
    }
    .profile{
        border: none;
    }
    .profile h1{
        border-radius: 3px;
    }
    .profile input[type=text], input[type=password] {
        width: 250px;
    }
    .app_button{
        padding: 12px 18px;
    }
    footer{
        position: inherit;
    }
}
@media screen and (min-width: 481px) and (max-width: 599px) {

    div.logo{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .head{
        clear: both;
        width: 90%;
    }
    footer{
        position: inherit;
    }
}

/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 600px) and (max-width: 1000px){

    div.logo{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .head{
        clear: both;
        width: 60%;
    }
    footer{
        position: inherit;
    }
}