/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2018, 2:00:07 PM
    Author     : Nooshi
*/

div.main_div{
    clear: both;
    display: block;
    width: 95%;
    margin: 0 auto;
}
div.result{
    display: inline-block;
    width: 100%;
}
h5{
    padding-left: 20px;
}
.cat-name{
    color: #55A6D7; 
    text-align: center;
}

.clnk-name{
    display: block;
    text-decoration: none;
    color: #55A6D7;
    font-size: 16px;
    overflow-wrap: break-word;
}
.clnk-location{
    display: block;
    color: #013069;
    font-size: 15px;
}
.clnk-star-rating{
    display: block;
    color: orange;
    font-size: 12px;
}
.clnk-div{
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #e8eaf2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    line-height: 20px;
    width: 150px;
    height: auto;
}


.clnk-div img{
    width: 130px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}

.clnk-div:hover .clnk-name{
    text-decoration: underline;
}

